html {
    height: 100%;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

header {
    background: #262B33;
    color: #eeeeee;
    width: 100%;
    height: 5em;
    text-align: center;
    height: 5em;
    line-height: 5em;
}
 