html {
    
}

body {
    background:#f9ca24;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color:#5B6268;
   background-image: url(../images/brake.svg);
   background-repeat: no-repeat;
   background-size: 70%;
   background-attachment: fixed;
   background-position: right top; 
}

#header h1 {
    font-family: Helvetica, Arial ;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: -.06rem;
    margin-top:3rem;
}
.btn-toolbar {margin-bottom: 1.5rem;}

label[for="topic-input"] {
    font-size: 1.5em;
 }

img {
    max-width: 100%;
}


#topic-display {
    position: relative;
}
.giphContain {
    position: relative;
    display: inline-block;
    margin-right: 1rem;
}
.giph_title, .giph_rating {
    color: white;
    font-weight: bold;
    line-height: .5rem;
}
.giph_title {
    margin-bottom: 0;
}

.giph_rating {
    margin-bottom: 3rem;
}

.down_load {
    /* display: block; */
    /* text-align: right; */
    margin-left: 1rem;
}

.view_layer {
    position: relative;
    top: 0;
    left:0;
    cursor: pointer;
    z-index: 1;
}

.hide_layer {
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
}



  /*  display: inline-block;
    float: left;
    width: 200px;
}


.view_layer {
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
}

.hide_layer {
    position: absolute;
    top: 0;
    left:0;
    z-index: -999;
} */